body
{
 font-family:helvetica;
}
#heading
{
 margin-top:150px;
 text-align:center;
 font-size:27px;
 color:#2E2EFE;
}
#meter_wrapper
{
 border:none;
 margin-left:20px;
 width:200px;
 height:35px;
 border-radius:3px;
}
#meter
{
 width:0px;
 height:35px;
}
#pass_type
{
 font-size:20px;
 margin-top:20px;
 text-align:left;
 color:grey;
}